.App-header {
  background-color: #222;
  padding: 5px;
  /* margin:0px -15px 0px -15px; */
  position: fixed;
  width: 100%;
  z-index: 10;
}

.headshot{
  height: 100%;
  width: auto;
  margin: auto;
  display: inline-block;
  max-width: 100%;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.square{
  width: 100%;
  height: 150px;
  margin: auto;
  text-align: center;
}

.square-enter-done{
  height: 100px;
  transform: translateX(-40%) scale(1);
  transition: all 300ms ease-out;
}

.square-exit {
  height: 100px;
  transform: translateX(-40%) scale(1);
}

.square-exit-done {
  height: 150px;
  transform: translateX(0%) scale(1);
  transition: all 300ms ease-out;
}  